{% load static %}
{% load thumbnail %}

<div class="page--basic"
     data-seamless-nav
     data-meta-title="{{ project.meta_title }}"
     data-meta-description="{{ project.meta_description }}">

    {% if project.landscape_image %}
        <header class="page__header">
            <div class="header header--image" style="background-image:url({% thumbnail project.landscape_image 1600x500 crop %});">
                &nbsp;
            </div>
        </header>
    {% endif %}
    <article class="body">
        <aside class="sidebar">
            <div class="spec-list">
                <p><small>CLIENT</small></p>
                <ul>
                    <li>{{ project.client.name|title }}</li>
                </ul>
                <p><small>FOCUS</small></p>
                <ul>
                    <li>{{ project.client.focus|title }}</li>
                </ul>
                {% if project.categories %}
                    <p><small>PROJECTS</small></p>
                    <ul>
                        {% for category in project.categories.all %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </aside>
        <section class="column">
            {% if project.description %}
                <div class="summary">
                    <h1 class="summary__title">{{ project.description }}</h1>
                </div>
            {% endif %}
            <div class="content">
                {{ project.content|safe }}
            </div>
            <ul class="project__images">
                {% for image in project.images.all %}
                    <li class="project__image" {% if image.title_text %}title="{{ image.title_text }}"{% endif %}>
                        <img src="{{ image.image.url }}" {% if image.alt_text %}alt="{{ image.alt_text }}"{% endif %}>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </article>
</div>