{% load static %}
{% load thumbnail %}

<div class="page"

     data-seamless-nav
     data-meta-title="{{ project.meta_title }}"
     data-meta-description="{{ project.meta_description }}">

    {% if project.landscape_image %}
        <header class="page__header">
            <div class="header-image" style="background-image:url({% thumbnail project.landscape_image 1600x500 crop %});">
                &nbsp;
            </div>
        </header>
    {% endif %}
    <article class="page__body">
        <aside class="page__sidebar">
            <div class="spec-list">
                <p><small>CLIENT</small></p>
                <ul>
                    <li>{{ project.client.name|title }}</li>
                </ul>
                <p><small>FOCUS</small></p>
                <ul>
                    <li>{{ project.client.focus|title }}</li>
                </ul>
                {% if project.categories %}
                    <p><small>PROJECTS</small></p>
                    <ul>
                        {% for category in project.categories.all %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </aside>
        <section class="page__main">
            {% if project.description %}
                <div class="page__heading summary">
                    <h1 class="summary__title">{{ project.description }}</h1>
                    <hr class="summary__divider divider--short" />
                </div>
            {% endif %}
            <div class="page__content page__content--shrink">
                {{ project.content|safe }}
            </div>
        </section>
    </article>
</div>