{% extends 'base.html' %}

{% load static %}
{% load snippets %}
{% load thumbnail %}

{% block meta_title %}{% snippet "projects.list.meta.title" %}{% endblock %}
{% block meta_description %}{% snippet "projects.list.meta.title" %}{% endblock %}
{% block breakcrumb %}{% snippet "projects.list.breadcrumb" %}{% endblock %}

{% block body %}
    <div class="page projects__list"
         style="background-image: url({% static 'images/feral-logo--gold--transparent.svg' %})">
        {% for project in projects %}
            {# Ghetto grouping #}
            {% for row in projects %}
                <div class="projects__row">
                    {% for project in row %}
                        <div class="projects__column {% cycle '' 'projects__column--odd' %}">
                            <div class="project-box">
                                <div class="project-box__image">
                                    <a href="{{ project.get_absolute_url }}" title="{{ project.name }}">
                                        <img src="{% thumbnail project.portrait_image 500x500 crop %}"
                                             alt="{{ project.name }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for row in projects %}
                <div class="projects__row">
                    {% for project in row %}
                        <div class="projects__column {% cycle '' 'projects__column--odd' %}">
                            <div class="project-box">
                                <div class="project-box__image">
                                    <a href="{{ project.get_absolute_url }}" title="{{ project.name }}">
                                        <img src="{% thumbnail project.portrait_image 500x500 crop %}"
                                             alt="{{ project.name }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock body %}