{% extends 'base.html' %}

{% load static %}
{% load snippets %}

{% block meta_title %}{% snippet "projects.list.meta.title" %}{% endblock %}
{% block meta_description %}{% snippet "projects.list.meta.title" %}{% endblock %}
{% block breakcrumb %}{% snippet "projects.list.breadcrumb" %}{% endblock %}

{% block body %}
    <div class="page projects__list">
        <div class="projects__row">
            <div class="projects__column">
                <div class="project-box">
                    <div class="project-box__image">
                        <a href="" title="">
                            <img src="{% static 'images/temp/project-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects__column projects__column--odd">
                <div class="project-box">
                    <div class="project-box__image">
                        <a href="" title="">
                            <img src="{% static 'images/temp/project-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects__column projects__column--last">
                <div class="project-box">
                    <div class="project-box__image">
                        <a href="" title="">
                            <img src="{% static 'images/temp/project-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="project__row">
            <div class="projects__column">
                <div class="project-box">
                    <div class="project-box__image">
                        <a href="" title="">
                            <img src="{% static 'images/temp/project-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects__column projects__column--odd">
                <div class="project-box">
                    <div class="project-box__image">
                        <a href="" title="">
                            <img src="{% static 'images/temp/project-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects__column projects__column--last">
                <div class="project-box">
                    <div class="project-box__image">
                        <a href="" title="">
                            <img src="{% static 'images/temp/project-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}