{% load static %}
{% load thumbnail %}
{% load snippets %}

<div class="page--advanced"
     data-equal-columns
     data-seamless-nav
     data-meta-title="{{ post.meta_title }}"
     data-meta-description="{{ post.meta_description }}">

    <div class="column" data-column>
        <header class="header" {% if post.image %}style="background-image:url({% thumbnail post.image 1200x800 crop %})"{% endif %}>
            <div class="header__trigger bookmark__trigger bookmark__trigger--yellow">
                <img class="bookmark__trigger__image"
                     src="{% static 'images/sidebar-trigger--yellow.svg' %}"
                     width="40"
                     alt="Sidebar Toggle">
                <small class="bookmark__trigger__text">OPEN MENU</small>
            </div>
            <p class="header__subsubtitle" title="{{ post.created_on }}">
                    {{ post.created_on|date:"n.j.Y" }}</p>
            <h1 class="header__title">{{ post.title }}</h1>
            {% if post.subtitle %}
                <h2 class="header__subtitle">{{ post.subtitle }}</h2>
            {% endif %}
            <div class="header__overlay">&nbsp;</div>
        </header>
        <article class="content">
            {{ post.content|safe }}

            <div class="image">
                <img class="image__img" src="{% static 'images/temp/image-1.jpg' %}" />
                <p class="image__caption">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, 2008</p>
            </div>
            <blockquote class="pullquote" cite="http://example.com/facts">
                <p class="pullquote__content">&ldquo;Nunc varius malesuada ligula et hendrerit. Donec lobortis justo sed
                tincidunt cursus. Etiam a magna tortor.&rdquo;</p>
                <hr class="pullquote__divider">
                <footer class="pullquote__source">
                    <cite><a class="silent" href="">Kevin James, Re:Define Conference, 2012</a></cite>
                </footer>
            </blockquote>
        </article>
    </div>
    {% comment %}
    <aside class="sidebar" data-column>
        <div class="sidebar__trigger bookmark__trigger">
            <img class="bookmark__trigger__image"
                 src="{% static 'images/sidebar-trigger.svg' %}"
                 width="40"
                 alt="Sidebar Toggle">
            <small class="bookmark__trigger__text">CLOSE MENU</small>
        </div>
        <ul class="post-list">
            {% for post in all_post %}
                <li class="post-list__item">
                    <h5 class="post-list__title">
                        <a class="silent" href="{{ post.get_absolute_url }}"
                            title="Read this post">{{ post.title }}</a>
                    </h5>
                    <p class="post-list__date" title="{{ post.created_on }}">
                        {{ post.created_on|date:"F j, Y" }}</p>
                </li>
            {% empty %}
                <li>There are no post.</li>
            {% endfor %}
        </ul>
    </aside>
    {% endcomment %}
</div>