{% load static %}
{% load thumbnail %}
{% load snippets %}

<div class="layout--beta blog-detail-page"
     data-equal-columns
     data-seamless-nav
     data-meta-title="{{ post.meta_title }}"
     data-meta-description="{{ post.meta_description }}">

    <div class="column" data-column>
        <header class="header" {% if post.image %}style="background-image:url({% thumbnail post.image 1200x800 quality=100 crop %})"{% endif %}>
            <div class="header__trigger bookmark__trigger bookmark__trigger--gold">
                <img class="bookmark__trigger__image"
                     src="{% static 'images/sidebar-trigger--gold.svg' %}"
                     width="32"
                     alt="Sidebar Toggle">
                <small class="bookmark__trigger__text">OPEN MENU</small>
            </div>
            <p class="header__subsubtitle" title="{{ post.created_on }}">
                    {{ post.created_on|date:"n.j.Y" }}</p>
            <h1 class="header__title">{{ post.title }}</h1>
            {% if post.subtitle %}
                <h2 class="header__subtitle">{{ post.subtitle }}</h2>
            {% endif %}
            <div class="header__overlay">&nbsp;</div>
        </header>
        <div class="content-wrapper">
            <div class="social">
                <ul class="social-buttons">
                    <li class="social-button">
                        <a class="social-button__link" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}&t={{ post.title|urlencode }}"
                           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                           target="_blank" title="Share on Facebook">
                            <img class="social-button__img" src="{% static 'images/icons/facebook.png' %}" alt="Share on Facebook">
                        </a>
                    </li>
                    <li class="social-button">
                        <a class="social-button__link" href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&via=discocrabs&text={{ post.subtitle|truncatechars:100|urlencode }}"
                           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                           target="_blank" title="Share on Twitter">
                            <img class="social-button__img" src="{% static 'images/icons/twitter.png' %}" alt="Share on Twtitter">
                        </a>
                    </li>
                    <li class="social-button">
                        <a class="social-button__link" href="http://www.reddit.com/submit?url={{ request.build_absolute_uri|urlencode }}&title={{ post.title|urlencode }}"
                           target="_blank" title="Share on Reddit">
                            <img class="social-button__img" src="{% static 'images/icons/reddit.png' %}" alt="Share on Twtitter">
                        </a>
                    </li>
                </ul>
                <p class="social-description">{% snippet 'blog.social.description' %}</p>
            </div>
            {% if post.extract %}
                <div class="summary">
                    <h1 class="summary__title">{{ post.extract }}</h1>
                </div>
            {% endif %}
            <article class="content content--user">
                {{ post.content|safe }}
            </article>
        </div>
    </div>
    <aside class="sidebar" data-column>
        <div class="sidebar__trigger bookmark__trigger">
            <img class="bookmark__trigger__image"
                 src="{% static 'images/sidebar-trigger.svg' %}"
                 width="32"
                 alt="Sidebar Toggle">
            <small class="bookmark__trigger__text">CLOSE MENU</small>
        </div>
        <ul class="post-list">
            {% for p in posts %}
                <li class="post-list__item {% if p.id == post.id %}active{% endif %}">
                    <h5 class="post-list__title">
                        <a class="silent" href="{{ p.get_absolute_url }}"
                            title="Read this post">{{ p.title }}</a>
                    </h5>
                    <p class="post-list__date" title="{{ p.created_on }}">
                        {{ p.created_on|date:"F j, Y" }}</p>
                </li>
            {% empty %}
                <li class="post-list__item">
                    <h5 class="post-list__title">
                        There are no other blog posts yet
                    </h5>
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>