{% load static %}
{% load thumbnail %}
{% load snippets %}

<div class="layout--beta blog-list-page"
     data-equal-columns
     data-seamless-nav
     data-meta-title="{% snippet 'blog.list.meta.title' %}"
     data-meta-description="{% snippet 'blog.list.meta.description' %}">
    <div class="column">
        <div class="content-wrapper">
            <div class="content">
                <ul class="blog-list">
                    {% for post in posts %}
                        <li class="blog-list__item">
                            <p class="blog-list__date">
                                {{ post.created_on|date:"F j" }}
                            </p>
                            <div class="blog-list__content">
                                <a class="silent" href="{{ post.get_absolute_url }}" title="{% if post.subtitle %}{{ post.subtitle }}{% else %}{{ post.title }}{% endif %}">
                                    <h2 class="blog-list__title">{{ post.title }}</h2>
                                </a>
                                {% if post.subtitle %}
                                    <p class="blog-list__subtitle">{{ post.subtitle }}</p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>