cmsplugin-filer==0.10.1
django-appconf==0.6
django-classy-tags==0.6.1
django-cms==3.0.9
django-compressor==1.4
django-extensions==1.5.0
django-filer==0.9.9
django-mptt==0.6.1
django-polymorphic==0.6.1
django-reversion==1.8.5
django-robots==1.0
django-sekizai==0.8.1
Django==1.7.4
djangocms-admin-style==0.2.5
djangocms-file==0.1
djangocms-text-ckeditor==2.4.3
easy-thumbnails==2.2
futures==2.2.0
html5lib==0.999
libsass==0.6.2
Pillow==2.7.0
pip-tools==0.3.5
six==1.9.0
South==1.0.2
Unidecode==0.04.17
