.post {

}

    .post__header {
        background-color: #1e1e1e;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        position: relative;
        padding: 6rem 4rem 4rem 4rem;
    }

        .post__header__trigger {
            @include transition(opacity 300ms ease);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 4rem;
        }

        .post__header__date {
            font-size: 0.75rem;
            color: #fff200;
            margin-bottom: 4rem;
        }

        .post__header__title {
            font-size: 3rem;
            font-weight: $font-weight-bold;
            color: white;
            margin-bottom: 0.5rem;
        }

        .post__header__subtitle {
            font-size: 1.5rem;
            font-weight: $font-weight-regular;
            color: #cfcfcf;
        }

    .post__content {
        padding: 4rem;
        border-left: 1px solid #ebebeb;
    }

/*
.post-search {
    margin: 0 3rem 3rem 3rem;
}

    .post-search__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #7d7d7d;
        width: 95%;
        padding: 2.5% 2.5% 2.5% 30px;
        color: #7e7e7e;

        background-image: url(../images/icons/search-spyglass.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
*/

.post-return {
     margin: 5rem 3rem 3rem 3rem;
     color: #999999;
     font-size: 0.85rem;
}

@media screen and (max-width: $break-small) {
    .post__header__date {
        margin-bottom: 2rem;
    }

    .post__content {
        border: none;
    }
}
