.blog {
    @include container;
}

    .blog__sidebar {
        @include span(4 of 12 no-gutters);
        background-color: #fbfbfb;
        height: 100vh;

    }

    .blog__content {
        @include span(8 of 12 last);
    }


.post {

}

    .post__header {
        background-color: #1e1e1e;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        padding: 4rem;
    }

        .post__header__date {
            font-size: 0.75rem;
            color: #fff200;
            margin-bottom: 4rem;
        }

        .post__header__title {
            font-size: 3rem;
            font-weight: $font-weight-bold;
            color: white;
            margin-bottom: 0.5rem;
        }

        .post__header__subtitle {
            font-size: 1.5rem;
            font-weight: $font-weight-regular;
            color: #cfcfcf;
        }

    .post__content {
        padding: 4rem;
    }

.post-list {
    padding: 0;
    margin: 4rem 3rem;
}

    .post-list__item {
        padding: 0;
        margin: 0 0 5rem 0;
        list-style: none;
    }

        .post-list__title {
            color: #7e7e7e;
            font-size: 1rem;
            font-weight: $font-weight-bold;
            line-height: 1.25rem;
            margin-bottom: 0;
        }

        .post-list__date {
            font-size: 0.75rem;
            margin-bottom: 0;
            color: #999999;
        }

.post-search {
    margin: 0 3rem 3rem 3rem;
}

    .post-search__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #7d7d7d;
        width: 95%;
        padding: 2.5% 2.5% 2.5% 30px;
        color: #7e7e7e;

        background-image: url(../images/icons/search-spyglass.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
