.index {
    background-color: $off-white;
    @include container();

    background-repeat: no-repeat;
    background-position: -30% -5%;
    background-size: 1250px;
}

    .index__atf {
        position: relative;
        padding-top: 5vh;
        padding-bottom: 5vh;

        height: 90vh;
    }

        .index__hero {
            @include span(6 of 12 last);
            @include prefix(1 of 12);
            @include suffix(5 of 12);

            @include vertical-align(75%);

            p, small {
                @include type-size(ms(-1));
                text-transform: uppercase;
                margin-bottom: 1.25rem;
            }

            h1, h2, h3, h4, h5, h6 {
                @include type-size(ms(3), 1.25);
                font-weight: $font-weight-regular;
                margin: 0;
            }

            // When we scale down, open up the hero text
            @media screen and (max-width: $break-medium) {
                @include span(12 of 12 last);
            }
        }

        .index__strip {
            position: absolute;
            bottom: 0;

            .strip__title {
                margin-left: span(1 of 12);
            }
        }

    .index__btf {

    }

        .index__footer {
            @include span(12 of 12 last);
        }