$indexPadding: 7.5%;

.index {
    background-color: $black;
    position: relative;
    height: 100%;
    width: 100%;
}

    .tagline {
        position: absolute;
        top: 50px;
        left: $indexPadding;
        z-index: 1000;
        text-align: left;
        opacity: 0.40;
    }

        .tagline__text {
            display: block;
            color: white;
            margin-bottom: 15px;
            font-size: 0.75rem;
            line-height: 1.2rem;
        }

        .tagline__divider {
            width: 30px;
            height: 5px;
            border: none;
            background-color: white;
        }

    .tagline--inverted {
        opacity: 1;

        .tagline__text {
            color: $gray-medium;
        }

        .tagline__divider {
            background-color: $gray-medium;
        }
    }

    .fullpage {
        background-color: $black;
        height: 100%;
        width: 100%;
        @include transition(opacity 2s ease-in-out);
        opacity: 0;
    }

        .fullpage__section {
            position: relative;
            padding: 0 $indexPadding;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

            .fullpage__project__content {
                height: 275px;
                position: absolute;
                top: 50%;
                margin-top: -137px;
            }

                .fullpage__project__footer {

                    }

                        .fullpage__project__action {
                            margin-bottom: 1rem;
                            color: white;
                        }

                        .fullpage__project__name {
                            font-size: 3rem;
                            line-height: 3rem;
                            font-weight: bold;
                            margin-bottom: 5rem;
                            color: white;
                        }

                    .fullpage__project__footer {

                    }

                        .fullpage__project__button {
                            background-color: transparent;
                            border: 1px solid white;
                            border-radius: 6px;
                            color: white;
                            font-size: 1rem;
                            line-height: 1rem;
                            padding: 1.25rem;

                            &:hover {
                                background-color: white;
                                text-decoration: none;
                                color: black;
                            }
                        }

            .fullpage__arrow {
                opacity: 0.4;
                position: absolute;
                bottom: 100px;
                left: 50%;
                margin-left: -12px;
                cursor: pointer;
            }

        // Inverted style for light backgrounds
        .fullpage__section--inverted {
            .fullpage__project__action,
            .fullpage__project__name,
            .fullpage__project__button {
                color: $gray-medium;
            }

            .fullpage__project__button {
                border-width: 2px;
                border-color: $gray-medium;
                color: $gray-medium;
            }
        }

        // Animate the content of sections.
        .fullpage__project__content {
            opacity: 0;
            @include transition(opacity 1.25s ease-in-out);

            .fullpage__project__action {}
            .fullpage__project__name,
            .fullpage__project__footer {

            }

            .fullpage__project__action {
                @include transition(.5s ease-in-out .2s);
                transform: translateY(100px);
            }

            .fullpage__project__name {
                @include transition(.6s ease-in-out .2s);
                transform: translateY(110px);
            }

            .fullpage__project__footer {
                @include transition(.7s ease-in-out .2s);
                transform: translateY(120px);
            }
        }

        // Active class is added by the fullpage plugin
        .fullpage__section.active {
            .fullpage__project__content {
                opacity: 1;

                .fullpage__project__action,
                .fullpage__project__name,
                .fullpage__project__footer {
                    transform: translateY(0);
                }
            }
        }


    @media screen and (min-width: $break-small) and (max-width: $break-medium) {
        .fullpage__section {
            background-size: 50% auto;
        }
    }

    @media screen and (max-width: $break-small) {
        .tagline {
            top: 25px;
            left: $indexPadding/2;
        }

        .fullpage__section {
            background-size: 55% auto;
            background-position: right 80%;
            padding: 0 $indexPadding/2;
        }

            .fullpage__project__content {
                height: auto;
                position: absolute;
                top: 140px;
                margin-top: 0;
            }

                .fullpage__project__name {
                    margin-bottom: 3.5rem;
                    font-size: 2.25rem;
                    line-height: 2.25rem;
                }

                .fullpage__project__button {
                    font-size: 0.85rem;
                    padding: 0.85rem 1rem;
                }
    }


    .blog-strip {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

        .strip__content {
            @include clearfix;
            width: 100% - (2 * $indexPadding);
            padding: 1.25rem $indexPadding 1rem $indexPadding;
            background-color: #d2d2d2;
        }

            .strip__title,
            .strip__text,
            .strip__button {
                float: left;
                line-height: 1.75rem;
            }

            .strip__title {
                text-transform: uppercase;
                font-size: 0.65rem;
                color: #686868;
                margin-right: 2rem;
                position: relative;
                top: 1px;
            }

            .strip__text {
                color: #686868;
                font-size: 0.85rem;
                margin-right: 2rem;
            }

    @media screen and (max-width: $break-small) {
        .blog-strip {
            display: none;
        }
    }