.page {

}

    .page__header {
        @include container;
    }

    .page__body {
        @include container;
    }

        .page__sidebar {
            @include span(2.5 of 12 no-gutters);
            @include prefix(.5 of 12);
            padding-top: 4rem;
        }

        .page__main {
            @include span(8.5 of 12 no-gutters last);
            @include suffix(.5 of 12);
            padding-top: 4rem;
        }

            .page__heading {

            }

            .page__content {
                &--shrink {
                    p {
                        width: 85%;
                    }
                }
            }

@media screen and (max-width: $break-small) {
    .page__sidebar {
        margin-bottom: 5rem;
    }

    .page__sidebar,
    .page__main {
        @include span(10 of 12 no-gutters);
        @include prefix(1 of 12);
        @include suffix(1 of 12);
    }

    .page__content--shrink {
        p {
            width: 100%;
        }
    }
}