// Basic Page Layout
.page--basic {
    background-color: $off-white;

    .header,
    .body {
        @include container;
    }

        .sidebar {
            @include span(2 of 12 no-gutters);
            @include prefix(1 of 12);
            padding-top: 4rem;
        }

        .column {
            @include span(8 of 12 no-gutters last);
            @include suffix(1 of 12);
            padding-top: 4rem;
        }

            .content {
                max-width: 750px;
            }
}

@media screen and (max-width: $break-small) {
    .page--basic {
        .sidebar {
            margin-bottom: 5rem;
        }

        .sidebar,
        .column {
            @include span(10 of 12 no-gutters);
            @include prefix(1 of 12);
            @include suffix(1 of 12);
        }

        .content--shrink {
            p {
                width: 100%;
            }
        }
    }
}


// Advanced Page Layout
// This is a simple layout used on more than one page where a LHS sidebar takes
// up a third of the page and a single column takes up the other two thirds
// (As seen on the blog page and process page)
.page--advanced {
    @include container;

    .sidebar {
        @include span(33.33% no-gutters);
        @include transition(margin-left $animationDuration);
        background-color: #fbfbfb;
        height: 100%;
        float: left;
        position: relative;
    }

        .sidebar__trigger {
            position: absolute;
            top: 0;
            left: 10%;
        }

    .column {
        @include span(66.66% last);
        @include transition(width $animationDuration);
        float: right;
    }

        .content, .summary {
            padding: 4rem;
            border-left: 1px solid #ebebeb;
            background-color: white;
            max-width: 750px;
        }
}

body.column--expanded {
    .page--advanced {
        .sidebar {
            margin-left: -33.33%;
        }

        .column {
            width: 100%;
        }

        .header__trigger {
            opacity: 1;
        }
    }
}

@media screen and (max-width: $break-small) {
    .page--advanced {
        .sidebar,
        .column {
            @include span(100% no-gutters);
        }
        .content {
            border: none;
        }
    }
}


