.page {
    background-color: $off-white;
    height: 100%;
    padding-bottom: 5rem;
}

    .page__header {
        @include container;
    }

    .page__body {
        @include container;
    }

        .page__sidebar {
            @include span(2 of 12 no-gutters);
            @include prefix(1 of 12);
        }

        .page__main {
            @include span(8.5 of 12 no-gutters last);
            @include suffix(.5 of 12);
        }

            .page__heading {

            }

            .page__content {

            }