// Project list page
.projects-list-page {
    @include clearfix;
    padding-bottom: 0;
    min-height: 100vh;

    background-color: $off-white;
}

    .projects__row {
        @include container();
    }

    .projects__column {
        @include span(33.33% no-gutters);
        height: 50vh;

        &--last {
            @include last;
        }
    }

@media screen and (max-width: $break-small) {
    .projects__column {
        @include span(100% no-gutters);
        height: 50vh;

        &--odd {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: $break-small) and (max-width: $break-medium) {
    .projects__column {
        @include span(50% no-gutters);
    }
}

// Project detail page
.project-detail-page {
}

    .project-media {
        margin-bottom: 4rem;
    }

        .project-media__row {
            @include clearfix;
            margin-bottom: 3rem;

            &--1 .project-media__col {
                width: 100%;
            }

            &--2 .project-media__col {
                width: 50%;
            }
        }

            .project-media__col {
                float: left;
            }


    .project-next {
        text-align: right;
        margin-bottom: 4rem;
    }

        .project-next-button {
            background-color: transparent;
            background-image: url(../images/arrow-right--gray.svg);
            background-repeat: no-repeat;
            background-position: 90% center;
            background-size: 10px auto;

            border: 3px solid #263037;
            padding: 1.15rem 2.5rem 0.95rem 1.5rem;
            font-size: 0.85rem;
            color: #263037;
            font-weight: 400;

            &:hover {
                color: #263037;
                text-decoration: underline;
            }
        }

    @media screen and (max-width: $break-small) {

    }