{% load cache %}
{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block meta_title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/screen.css' %}" type="text/css" charset="utf-8">
    </head>
    <body>
        <header>
            <div class="menu">
                <div class="menu__gutter">
                    <div class="menu__gutter__trigger">&nbsp;</div>
                    <div class="menu__gutter__logo">
                        <a href="" title="">
                            <img src="{% static 'images/feral-logo--gold--straight.svg' %}" alt=""
                                width="65">
                        </a>
                    </div>
                </div>
                <div class="menu__drawer">
                    <nav class="menu__nav">
                        <ul>
                            {% for node in global_menu %}
                                <li><a href="{{ node.url }}">{{ node.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="menu__logo">
                        <a href="" title="">
                            <img src="{% static 'images/feral-logo--gold.svg' %}"
                                 alt=""
                                 width="100">
                        </a>
                    </div>
                    <div class="menu__footer">
                        <a href="" title="">
                            <img src="{% static 'images/icons/behance.png' %}"
                                 alt=""
                                 width="24">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
            {% block body %}{% endblock body %}
        </div>
    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "scripts/app.js" %}" ></script>

    {# Bugherd #}
    <script type='text/javascript'>
        (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=que6zrd4rhxrvebqooy8ha';
        s.parentNode.insertBefore(bh, s);
        })(document, 'script');
    </script>
</html>
