{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block meta_title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block body %}
    <div class="blog" data-equal-columns>
        <div class="blog__content" data-column>
            <div class="post">
                <header class="post__header" {% if display_post.image %}style="background-image:url({% thumbnail display_post.image 1200x800 crop %})"{% endif %}>
                    <p class="post__header__date" title="{{ display_post.created_on }}">
                            {{ display_post.created_on|date:"n.j.Y" }}</p>
                    <h1 class="post__header__title">{{ display_post.title }}</h1>
                    {% if display_post.subtitle %}
                        <h2 class="post__header__subtitle">{{ display_post.subtitle }}</h2>
                    {% endif %}
                </header>
                <article class="post__content">
                    {{ display_post.content|safe }}

                    <div class="image">
                        <img class="image__img" src="{% static 'images/temp/image-1.jpg' %}" />
                        <p class="image__caption">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, 2008</p>
                    </div>
                    <blockquote class="pullquote" cite="http://example.com/facts">
                        <p class="pullquote__content">&ldquo;Nunc varius malesuada ligula et hendrerit. Donec lobortis justo sed
                        tincidunt cursus. Etiam a magna tortor.&rdquo;</p>
                        <hr class="pullquote__divider">
                        <footer class="pullquote__source">
                            <cite><a class="silent" href="">Kevin James, Re:Define Conference, 2012</a></cite>
                        </footer>
                    </blockquote>
                </article>
            </div>
        </div>
        <div class="blog__sidebar" data-column>
            <ul class="post-list">
                {% for post in all_posts %}
                    <li class="post-list__item">
                        <h5 class="post-list__title">
                            <a class="silent" href="{{ post.get_absolute_url }}"
                                title="Read this post">{{ post.title }}</a>
                        </h5>
                        <p class="post-list__date" title="{{ post.created_on }}">
                            {{ post.created_on|date:"n.j.Y" }}</p>
                    </li>
                {% empty %}
                    <li>There are no posts.</li>
                {% endfor %}
            </ul>
            <div class="post-search">
                <input class="post-search__input" type="search" name="" value="">
            </div>
            <div class="post-return">
                <a class="silent" href="{% url 'blog:latest' %}" title="">Return to blog index</a>
            </div>
        </div>
    </div>
{% endblock body %}