{% extends 'base.html' %}

{% load snippets %}
{% load staticfiles %}

{% block meta_title %}{% snippet "index.meta.title" %}{% endblock %}
{% block meta_description %}{% snippet "index.meta.description" %}{% endblock %}

{% block body %}
    {% include 'index--partial.html' %}
{% endblock body %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'fullpage.js/jquery.fullPage.css' %}" type="text/css" charset="utf-8">
{% endblock %}

{% block extra_js %}
    <script src="{% static "fullpage.js/jquery.fullPage.js" %}"></script>
{% endblock %}