{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="index"
         style="background-image: url({% static 'images/feral-logo--gold.svg' %})">

        <div class="index__atf"> {# Above the fold #}
            <div class="index__hero">
                <p>THE INTERNATIONAL HEADQUARTERS OF STERLING LENTZ</p>
                <h1>An aspiring professional golfer travelling around the world working as a freelance designer and creative director for small brands.</h1>
            </div>
            <div class="index__strip strip">
                <div class="strip__content">
                    <div class="strip__title">
                        From the Blog:
                    </div>
                    <div class="strip__text">
                        Talent being assumed, execution far outweights design creativity
                    </div>
                    <div class="strip__button">
                        <a href="" title="" class="button button--hollow button--gold">
                            Read
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="index__btf"> {# Below the fold #}
            <div class="index__footer">
                <ul class="project-box">
                    <li class="project-box__item">
                        <div class="project-box__item__image">
                            <a href="" title="">
                                <img src="{% static 'images/temp/project-1.png' %}" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="project-box__item">
                        <div class="project-box__item__image">
                            <a href="" title="">
                                <img src="{% static 'images/temp/project-2.png' %}" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="project-box__item">
                        <div class="project-box__item__image">
                            <a href="" title="">
                                <img src="{% static 'images/temp/project-3.png' %}" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}