{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load snippets %}

<div class="index"
     data-seamless-nav
     data-meta-title="{% snippet 'index.meta.title' %}"
     data-meta-description="{% snippet 'index.meta.description' %}">

    <div class="tagline">
        <small class="tagline__text">{% snippet 'index.fullpage.tagline' %}</small>
        <div class="tagline__divider">&nbsp;</div>
    </div>
    <div class="fullpage">
        {% for project in projects %}
            <div class="fullpage__section"
                 style="background-color: #{{ project.color }};{% if project.background_image %}background-image: url({{ project.background_image.url }});{% endif %}">

                <div class="fullpage__project__content">
                    <div class="fullpage__project__header">
                        {% if project.action_text %}
                            <p class="fullpage__project__action">{{ project.action_text }}</p>
                        {% endif %}
                        <h2 class="fullpage__project__name">{{ project.name }}</h2>
                    </div>
                    <div class="fullpage__project__footer">
                        <a class="fullpage__project__button" href="{{ project.get_absolute_url }}" class="button">{% trans 'See the project' %}</a>
                    </div>
                </div>
                <div class="fullpage__arrow fullpage__arrow--down">
                    <img src="{% static 'images/fullpage-arrow--down.svg' %}" alt="" width="35px">
                </div>
            </div>
        {% endfor %}
        <div class="fullpage__section"
             style="background-color: #141414; background-image: url(http://feral.timmyomahony.com/media/filer_public/89/8d/898d2d52-1ba7-40b9-a2f8-9b01d4ea1b77/index_image.jpg);">
            <div class="fullpage__project__content">
                <div class="fullpage__project__header">
                    <p class="fullpage__project__action">Imagine what we could do for</p>
                    <h2 class="fullpage__project__name">Your Project</h2>
                </div>
                <div class="fullpage__project__footer">
                    <a class="fullpage__project__button" href="/about/" class="button">{% trans 'Get To Know Me' %}</a>
                </div>
            </div>
            <div class="fullpage__arrow fullpage__arrow--up">
                <img src="{% static 'images/fullpage-arrow--up.svg' %}" alt="" width="35px">
            </div>
        </div>
    </div>
    {% if post %}
        <div class="blog-strip strip">
            <div class="strip__content">
                <div class="strip__title">
                    {% snippet "index.blog.tagline" %}
                </div>
                <div class="strip__text">
                    <a href="{{ post.get_absolute_url }}" class="silent" title="{{ post.title }}">{{ post.title }}</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>