{# A scratchpad for styles #}
<div class="image">
    <img class="image__img" src="{% static 'images/temp/image-1.jpg' %}" />
    <p class="image__caption">Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, 2008</p>
</div>
<blockquote class="pullquote" cite="http://example.com/facts">
    <p class="pullquote__content">&ldquo;Nunc varius malesuada ligula et hendrerit. Donec lobortis justo sed
    tincidunt cursus. Etiam a magna tortor.&rdquo;</p>
    <hr class="pullquote__divider">
    <footer class="pullquote__source">
        <cite><a class="silent" href="">Kevin James, Re:Define Conference, 2012</a></cite>
    </footer>
</blockquote>