{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="page">
        <header class="page__header">
            <div class="header-image" style="background-image:url({{ header_image.src }});">
                <p class="header-image__caption">{{ header_image.caption }}</p>
            </div>
        </header>
        <article class="page__body">
            <aside class="page__sidebar">
                <div class="sidebar sidebar--small">
                    <div class="sidebar-spec">
                        {% for key, d in sidebar.items %}
                            <div class="sidebar-spec__item">
                                <h6 class="sidebar-spec__title">{{ key }}</h6>
                                <ul class="sidebar-spec__list">
                                    {% for v in d.values %}
                                        <li>{{ v|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </aside>
            <section class="page__main">
                <div class="page__heading heading">
                    <h1 class="heading__title heading__title--short">{{ lead_text }}</h1>
                    <hr class="heading__divider divider--orange divider--short" />
                </div>
                <div class="page__content">
                    <p class="text text--short">Interactive projects and brand identities are my bread and butter,
                       but my abilities cross over into industrial design, photography,
                       and video. I have tremendously talented partners that I rely on for
                       web development, 3D, and other technical and creative work you may
                       find in my portfolio. Together, we work in a decentralized network
                       of elite freelancers, each contributing our own piece to the creative
                       uzzle. </p>
                    <p class="text text--short">If you are a smaller company with a range of creative needs and
                       the committment to doing things well, but perhaps without the budget to afford a marquee
                       design house or the patience to manage a team of independents, get in touch. To learn
                       more how I work and the client-contractor relationship, <a href="" title="">see my process.</a></p>
                    <p class="text text--short">Travel is an essential part of my life and I regularly travel worldwide
                       for work and also because I like to. If you need someone who can work on-site with
                       your teams, there’s a good chance I’ll have the flexibility and desire to do that.
                       If you would like to see where I have been recently, you can visit my blog <a href="" title="">Discocrabs
                        on the Road.</a></p>
                    <div class="image">
                        <img class="image__img" src="{% static 'images/temp/portrait-1.jpg' %}" alt="">
                        <p class="image__caption">Capable young creative or self-obsessed douchebag.
                            You be the judge!</p>
                    </div>
                    <p class="text text--short">And as I mention on the index, I’m also trying to become a
                       professional golfer. That doesn’t mean I drive around a Yukon and make sexist jokes about
                       women. The goal requires that I be physically, professionaly, emotionally, and spiritually
                       on top of my shit. So in a weird way, golf organizes my life and forces me to be better in
                       almost every respect. For more about golf, design, and performance, <a href="" title="">visit my blog.</a></p>
                </div>
            </section>
        </article>
    </div>
{% endblock body %}