{% extends 'base.html' %}

{% load cms_tags %}

{% block body %}
    <div class="content">
        <small>11.04.2014</small>
        <h1>H1, Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam omnis
           eligendi laboriosam reiciendis voluptates, eius vel placeat totam modi
           cum, autem eum tenetur temporibus, perferendis enim. Nisi impedit saepe
           maxime ex dolores quis repellat consequatur voluptatum eaque. Facilis,
           voluptatum, obcaecati!</p>
        <p>Enim expedita fugit veniam est hic voluptates nesciunt numquam quam voluptate
           adipisci, tempore sapiente sed, illo officiis, mollitia quaerat magnam aliquid
           iure sit aspernatur delectus. Eveniet sequi maxime sapiente culpa iste itaque
           animi temporibus aperiam. Qui molestias, culpa sint ut.</p>

        <h2>H2, Best practices for varying styles, attitudes, and experiences</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam omnis
           eligendi laboriosam reiciendis voluptates, eius vel placeat totam modi
           cum, autem eum tenetur temporibus, perferendis enim. Nisi impedit saepe
           maxime ex dolores quis repellat consequatur voluptatum eaque. Facilis,
           voluptatum, obcaecati!</p>

        <h3>H3, Best practices for varying styles, attitudes, and experiences</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam omnis
           eligendi laboriosam reiciendis voluptates, eius vel placeat totam modi
           cum, autem eum tenetur temporibus, perferendis enim. Nisi impedit saepe
           maxime ex dolores quis repellat consequatur voluptatum eaque. Facilis,
           voluptatum, obcaecati!</p>

        <blockquote>
            <p>&ldquo;Nunc varius malesuada ligula et hendrerit. Donec lobortis
            justo sed tincidunt cursus. Etiam a magna tortor.&rdquo;</p>
            <footer>
                <cite><a href="http://www.brucelawson.co.uk/2013/on-citing-quotations-again/">Kevin James, Re:Define Conference, 2012</a></cite>
            </footer>
        </blockquote>

        <h4>H4, Best practices for varying styles, attitudes, and experiences</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam omnis
           eligendi laboriosam reiciendis voluptates, eius vel placeat totam modi
           cum, autem eum tenetur temporibus, perferendis enim. Nisi impedit saepe
           maxime ex dolores quis repellat consequatur voluptatum eaque. Facilis,
           voluptatum, obcaecati!</p>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
{% endblock body %}