{% load static %}
{% load thumbnail %}

<div class="page--advanced"
     data-equal-columns

     data-seamless-nav
     data-meta-title="{{ flatpage.meta_title }}"
     data-meta-description="{{ flatpage.meta_description }}">

    <div class="column" data-column>
        <header class="header" {% if flatpage.image %}style="background-image:url({% thumbnail flatpage.image 1200x800 crop %})"{% endif %}>
            <div class="header__trigger bookmark__trigger bookmark__trigger--yellow">
                <img class="bookmark__trigger__image"
                     src="{% static 'images/sidebar-trigger--yellow.svg' %}"
                     width="40"
                     alt="Sidebar Toggle">
                <small class="bookmark__trigger__text">Open Menu</small>
            </div>
            {% if flatpage.subsubtitle %}
                <p class="header__subsubtitle">
                    {{ flatpage.subsubtitle }}</p>
            {% endif %}
            <h1 class="header__title">{{ flatpage.title }}</h1>
            {% if flatpage.subtitle %}
                <h2 class="header__subtitle">{{ flatpage.subtitle }}</h2>
            {% endif %}
        </header>
        {% if flatpage.description %}
            <div class="summary">
                <h1 class="summary__title">{{ flatpage.description }}</h1>
            </div>
        {% endif %}
        <article class="content">
            {{ flatpage.content|safe }}
        </article>
    </div>
    <aside class="sidebar" data-column>
        <div class="sidebar__trigger bookmark__trigger">
            <img class="bookmark__trigger__image"
                 src="{% static 'images/sidebar-trigger.svg' %}"
                 width="40"
                 alt="Sidebar Toggle">
            <small class="bookmark__trigger__text">Close Menu</small>
        </div>
        <ul class="page-list">
            {% for node in local_menu %}
                <li class="page-list__item {% if node.url == request.path %}page-list__item--active{% endif %}">
                    <a class="silent" href="{{ node.url }}" title="">{{ node.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>