{% load static %}
{% load thumbnail %}

<div class="layout--alpha"
     data-seamless-nav
     data-meta-title="{{ flatpage.meta_title }}"
     data-meta-description="{{ flatpage.meta_description }} ">

    {% if flatpage.image %}
        <div class="header header--image" style="background-image:url({% thumbnail flatpage.image 1600x500 quality=100 crop %});">
            {% if flatpage.image_caption %}
                <p class="header--image__caption">{{ flatpage.image_caption }}</p>
            {% endif %}
        </div>
    {% endif %}
    <article class="body">
        <aside class="sidebar">
            <div class="sidebar-content-wrapper">
                {{ flatpage.sidebar|safe }}
            </div>
        </aside>
        <section class="column">
            <div class="content-wrapper">
                {% if flatpage.description %}
                    <div class="summary">
                        <h1 class="summary__title">{{ flatpage.description }}</h1>
                    </div>
                {% endif %}
                <div class="content content--user">
                    {{ flatpage.content|safe }}
                </div>
            </div>
        </section>
    </article>
</div>