{% load static %}
{% load thumbnail %}

<div class="page--basic"
     data-seamless-nav
     data-meta-title="{{ flatpage.meta_title }}"
     data-meta-description="{{ flatpage.meta_description }} ">

    {% if flatpage.image %}
        <div class="header header--image" style="background-image:url({% thumbnail flatpage.image 1600x500 crop %});">
            {% if flatpage.image_caption %}
                <p class="header--image__caption">{{ flatpage.image_caption }}</p>
            {% endif %}
        </div>
    {% endif %}
    <article class="body">
        <aside class="sidebar">
            {{ flatpage.sidebar|safe }}
        </aside>
        <section class="column">
            {% if flatpage.description %}
                <div class="summary">
                    <h1 class="summary__title">{{ flatpage.description }}</h1>
                    <hr class="summary__divider divider--orange divider--short" />
                </div>
            {% endif %}
            <div class="content">
                {{ flatpage.content|safe }}
            </div>
        </section>
    </article>
</div>