{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block meta_title %}{{ flatpage.meta_title }}{% endblock %}
{% block meta_description %}{{ flatpage.meta_description }}{% endblock %}
{% block breakcrumb %}{{ flatpage.title }}{% endblock %}

{% block body %}
    <div class="page">
        {% if flatpage.image %}
            <header class="page__header">
                <div class="header-image" style="background-image:url({% thumbnail flatpage.image 1600x500 crop %});">
                    {% if flatpage.image_caption %}
                        <p class="header-image__caption">{{ flatpage.image_caption }}</p>
                    {% endif %}
                </div>
            </header>
        {% endif %}
        <article class="page__body">
            <aside class="page__sidebar">
                {{ flatpage.sidebar|safe }}
            </aside>
            <section class="page__main">
                {% if flatpage.description %}
                    <div class="page__heading heading">
                        <h1 class="heading__title">{{ flatpage.description }}</h1>
                        <hr class="heading__divider divider--orange divider--short" />
                    </div>
                {% endif %}
                <div class="page__content page__content--shrink">
                    {{ flatpage.content|safe }}

                    <div class="image">
                        <img class="image__img" src="{% static 'images/temp/portrait-1.jpg' %}" alt="">
                        <p class="image__caption">Capable young creative or self-obsessed douchebag.
                            You be the judge!</p>
                    </div>
                </div>
            </section>
        </article>
    </div>
{% endblock body %}