// As seen on the index page - x3 projects
.project-box {
    position: relative;

    padding: 0;
    margin: 0;
    list-style: none;
}

    .project-box__image {
        a {

            display: block;
            img {
                width: 100%;
                display: block;
            }
        }
    }

        .project-box__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;
            top: 0;
            left: 0;
        }

    .project-box__details {

    }



// As seen on the studio page - top image and caption
.header-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    margin-bottom: 4rem;
}

    .header-image__caption {
        position: absolute;
        bottom: .5rem;
        right: 2rem;
        color: white;
        font-size: 0.80rem;
    }


// As seen on the studio page - down the left sidebar
.sidebar-spec {

}

    .sidebar-spec__item {
        margin-bottom: 3rem;
    }

        .sidebar-spec__title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: ms(-2);
            margin-bottom: .5rem;
        }

        .sidebar-spec__list {
            @extend .list--naked;

            li {
                margin: 0.75rem 0;
                font-size: ms(-1.5);
                line-height: 1.5rem;
            }
        }


.heading {

}
    .heading__title {
        margin-bottom: 3rem;
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: $font-weight-regular;

        &--short {
            width: 80%;
        }
    }

    .heading__divider {
        margin-bottom: 3rem;
    }

.text {
    margin-bottom: 3rem ;

    &--short {
        width: 70%;
    }

    a {
        text-decoration: underline;
    }
}

.image {
    margin-bottom: 3rem;
}

    .image__img {
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }

    .image__caption {
        font-size: 0.75rem;
        font-style: italic;
    }

.pullquote {
    text-align: center;
    margin-bottom: 3rem;
}

    .pullquote__content {
        color: #272727;
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
    }

    .pullquote__divider {
        width: 20%;
        background-color: #ff0000;
        margin-bottom: 2rem;
    }

    .pullquote__source {
        font-size: 0.85rem;
        font-style: italic;
        color: #353535;

        a {
        }
    }

.list {
    margin-bottom: 3rem;

    &--naked {
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;


        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}
