// As seen on the index page - x3 projects
.project-box {
    position: relative;

    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;

    &:hover .project-box__overlay {
        opacity: 1;
    }
}

    .project-box__image {
        a {
            display: block;

            img {
                width: 100%;
                display: block;
            }
        }
    }

        .project-box__overlay {
            @include transition(opacity .25s ease-in-out);
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;
            top: 0;
            left: 0;
            background: transparent;
        }

            .project-box__button {
                position: absolute;
                width: 50%;
                top: 40%;
                left: 20%;
                padding-left: 5%;
                padding-right: 5%;
            }

    .project-box__details {

    }



// As seen on the studio page - top image and caption
.header-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
}

    .header-image__caption {
        position: absolute;
        bottom: 1rem;
        margin-bottom: 0;
        right: 2rem;
        color: white;
        font-size: 0.80rem;
    }


// As seen on the studio page - down the left sidebar
.sidebar-list {
    p {
        margin-bottom: .5rem;
        small {
            text-transform: uppercase;
            font-weight: bold;
            font-size: ms(-2);
        }
    }

    ul, ol {
        padding: 0;
        margin: 0 0 2rem 0;

        li {
            margin: 0 0 .5rem 0;
            list-style: none;
            line-height: 2remrem;
            font-size: ms(-1);
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: $break-small) {
        p {
            margin-bottom: 2rem;
        }
        p small,
        ul li,
        ol li {
            font-size: ms(1);
        }
        ul, ol {
            li {
                margin-bottom: 1rem;
            }
        }
    }
}

.heading {

}
    .heading__title {
        margin-bottom: 3rem;
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: $font-weight-regular;

        &--short {
            width: 80%;
        }
    }

    .heading__divider {
        margin-bottom: 3rem;
    }

.image {
    margin-bottom: 3rem;
}

    .image__img {
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }

    .image__caption {
        font-size: 0.75rem;
        font-style: italic;
    }

.pullquote {
    text-align: center;
    margin-bottom: 3rem;
}

    .pullquote__content {
        color: #272727;
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
    }

    .pullquote__divider {
        width: 20%;
        background-color: #ff0000;
        margin-bottom: 2rem;
    }

    .pullquote__source {
        font-size: 0.85rem;
        font-style: italic;
        color: #353535;

        a {
        }
    }

.list {
    margin-bottom: 3rem;

    &--naked {
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;


        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}
