
// An announcment strip
.strip {
    width: 100%;
}

    .strip__content {
        @include clearfix;
        width: 100%;
        background-color: #d2d2d2;
        padding: 1.5rem 0;
    }

        .strip__title,
        .strip__text,
        .strip__button {
            float: left;
            line-height: 1.5rem;
        }

        .strip__title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.65rem;
            color: #686868;
            margin-right: 2rem;
        }

        .strip__text {
            color: #686868;
            font-size: 0.85rem;
            margin-right: 2rem;
        }

        .strip__button {

        }

// Buttons
.button {

}

    .button--hollow {

    }
