{% extends 'base.html' %}

{% load cms_tags %}
{% load static %}

{% block body %}
    <div class="template--standard">
        <header class="template--standard__header">
            {% placeholder "image" %}
            <img src="{% static 'images/temp/standard-heading.jpg' %}" alt="">
        </header>
        <article class="template--standard__body">
            <aside class="template--standard__sidebar">
                <div class="sidebar sidebar--small">
                    {% placeholder "sidebar" %}
                    <div class="speclist">
                        <div class="speclist__item">
                            <h6 class="speclist__title">Location</h6>
                            <ul class="speclist__list">
                                <li>3315 SE 19th St. STE F</li>
                            </ul>
                        </div>
                        <div class="speclist__item">
                            <h6 class="speclist__title">Phone</h6>
                            <ul class="speclist__list">
                                <li>503.867</li>
                            </ul>
                        </div>
                        <div class="speclist__item">
                            <h6 class="speclist__title">Email</h6>
                            <ul class="speclist__list">
                                <li><a href="mailto:hey@" title="">hey@timmyomahony.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <section class="template--standard__content">
                {% placeholder "content" %}
                <h1 class="header--alt">Snuggled up against a freeway overpass in a
                    large industrial storage unit, the studio is two parts living room,
                    one part test kitchen, and all parts amazing.</h1>
            </section>
        </article>
    </div>
{% endblock body %}