{% load static %}
{% load i18n %}

<div class="fs-image">
    <img class="fs-image__img" src="{{ item.image.url }}" {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}>
    <div class="fs-image__hover">
        <div class="fs-image__hover__content">
            <div class="fs-image__hover__divider">&nbsp;</div>
            <p class="fs-image__hover__text">
                {% if image.caption %}
                    {{ image.caption}}
                {% else %}
                    {% trans 'Click to expand' %}
                {% endif %}
            </p>
            <div class="fs-image__hover__icon">
                <img class="fs-image__hover__icon__img" src="{% static 'images/magnifying-glass--white.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>