@media screen and (min-width: 1920px) {

    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 14px;
        line-height: 20px;
        color: #fff200;
        padding-top: 100px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 60px;
        line-height: 60px;
        color: #ffffff;
        padding-top: 150px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 30px;
        line-height: 36px;
        color: #cfcfcf;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1919px) and (min-width: 1600px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 13px;
        line-height: 20px;
        color: #fff200;
        padding-top: 80px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 55px;
        line-height: 55px;
        color: #ffffff;
        padding-top: 130px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 27px;
        line-height: 33px;
        color: #cfcfcf;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1599px) and (min-width: 1200px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 12px;
        line-height: 20px;
        color: #fff200;
        padding-top: 40px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 50px;
        line-height: 50px;
        color: #ffffff;
        padding-top: 80px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 24px;
        line-height: 30px;
        color: #cfcfcf;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 900px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 11px;
        line-height: 18px;
        color: #fff200;
        padding-top: 40px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 45px;
        line-height: 45px;
        color: #ffffff;
        padding-top: 80px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 21px;
        line-height: 27px;
        color: #cfcfcf;
        padding-top: 20px;
    }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 10px;
        line-height: 16px;
        color: #fff200;
        padding-top: 20px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 40px;
        line-height: 40px;
        color: #ffffff;
        padding-top: 60px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 18px;
        line-height: 24px;
        color: #cfcfcf;
        padding-top: 15px;
    }
}

@media screen and (max-width: 599px) and (min-width: 400px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 9px;
        line-height: 16px;
        color: #fff200;
        padding-top: 15px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 35px;
        line-height: 35px;
        color: #ffffff;
        padding-top: 50px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 15px;
        line-height: 21px;
        color: #cfcfcf;
        padding-top: 12px;
    }
}

@media screen and (max-width: 399px) and (min-width: 300px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 8px;
        line-height: 16px;
        color: #fff200;
        padding-top: 10px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 30px;
        line-height: 30px;
        color: #ffffff;
        padding-top: 25px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 12px;
        line-height: 18px;
        color: #cfcfcf;
        padding-top: 10px;
    }
}

@media screen and (max-width: 299px) {
    .blog1-date {
        font-family: "NeutralStd-Regular";
        font-size: 7px;
        line-height: 14px;
        color: #fff200;
        padding-top: 5px;
    }

    .blog1-title {
        font-family: "NeutralStd-Medium";
        font-size: 20px;
        line-height: 20px;
        color: #ffffff;
        padding-top: 15px;
    }

    .blog1-desc {
        font-family: "NeutralStd-Regular";
        font-size: 8px;
        line-height: 12px;
        color: #cfcfcf;
        padding-top: 5px;
    }
}