
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Dual;
}

body {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  color: #4c4c4c;
}

a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

.cms_toolbar a:link, .cms_toolbar a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  color: #222222;
}

h1 {
  color: #343434;
  font-size: 3.0rem;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 2.4rem;
}

h3 {
  color: #343434;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

hr {
  border-width: 0 0 1px 0;
}

body {
  font-size: 1.4rem;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.nav-mark-left
{
    font-family: 'ColorsOfAutumn';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding: 13px;
}

.nav-mark-top
{
    font-family: 'ColorsOfAutumn';
    font-size: 20px;
    color: #c6a05d;
    margin:150px 30px;
}

.first-subbody{
    width:33%;
    float:right;
}
.second-subbody{
    width:67%;
    float:right;
}

.first-left-subbody{
  width:33%;
  float:left;
}
.second-left-subbody{
  width:67%;
  float:left;
}

.first-50-subbody{
    width:50%;
    float:right;
    background: #ffffff;
}

.subbody-50{
  width:50%;
  float:right;
  background: #ffffff;
}

.subbody-80
{
    width:80%;
    margin:0 auto;
}

.subbody-left-75
{
    margin-left: 0;
    width: 75%;
}

.short-color-bar
{
  width: 190px;
  height: 8px;
  margin-left: 0;

}

.style_image {
    width:100%;
    display: block;
}

.no-margin-top
{
  margin-top: 0;
}

.padding-bottom-30px
{
  padding-bottom: 30px;
}

.left-text-align-100 {
  text-align: left;
  margin-left: 100px;
}

.grey-color
{
    background: #e8e8e8 !important;
}

.grey-font-color
{
  color: #9b9b9b;
}

.black-color
{
  color:#000000;
}

.white-color
{
    background: #ffffff !important;
}

.color-d89300
{
  color:#d89300 !important;
}

.color-fbfbfb
{
  background: #fbfbfb;
}

.hrline-d89300
{
  width: 200px;
  margin-left: 0px;
  border-color: #d89300;
}

.hrline-ff0000
{
  width: 100px;
  border-color: #ff0000;
}

.hrline-7d7d7d
{
  width: 100%;
  border-color: #7d7d7d;
}

.padding-line-100
{
  padding-top: 100px;
}

.padding-line-20
{
  padding-top: 20px;
}

.padding-line-50
{
  padding-top: 50px;
}

.align-center
{
  text-align: center;
  margin: 0px auto;
}

.classic-list-style
{
  list-style: disc;
  padding-left: 100px;
  margin: 50px 0;
}

.logo {
    font-family: 'ColorsOfAutumn';
    font-size: 46px;
    color: #333;
    padding-bottom:60px;
}

.neutralstd-regular-11
{
  font-family: 'NeutralStd-Regular';
  font-size: 11px;
  line-height: 22px;
  color:#333;
}

.neutralstd-regular-15
{
    font-family: 'NeutralStd-Regular';
    font-size: 15px;
    color:#333;
    line-height: 30px;
}

.neutralstd-regular-18
{
    font-family: 'NeutralStd-Regular';
    font-size: 18px;
    color:#333;
    line-height: 36px;
}

.neutralstd-regular-24
{
  font-family: 'NeutralStd-Regular';
  font-size: 24px;
  color:#333;
  line-height: 48px;
}

.avatar-descriptor-block {
  padding: 38px 0;
}

span.avatar-descriptor
{
  display: block;
  padding: 6px 0;
  line-height: normal !important;
}

.neutralstd-regular-30
{
    font-family: 'NeutralStd-Regular';
    font-size: 30px;
    color:#333;
  line-height: 60px;
}

.neutralstd-regular-36
{
  font-family: 'NeutralStd-Regular';
  font-size: 36px;
  color:#333;
  line-height: 72px;
}

.neutralstd-medium-10
{
  font-family: 'NeutralStd-Medium';
  font-size: 10px;
  color:#333;
  line-height: 20px;
}

.neutralstd-medium-20
{
  font-family: 'NeutralStd-Medium';
  font-size: 20px;
  color:#333;
  line-height: 40px;
}

.neutralstd-medium-30
{
  font-family: 'NeutralStd-Medium';
  font-size: 30px;
  color:#333;
  line-height: 60px;
}

.home-text1
{
    padding: 60px 0;
}
.featured-title
{
    padding: 50px 0;
}

.li-alignment
{
    display: block;
}

.body-text{
    margin-left: 5rem;
}

.navbar-wrapper {
  font-size: 100%;
}

#navbar {
  overflow: hidden;
  *zoom: 1;
  -moz-transition: width 300ms;
  -o-transition: width 300ms;
  -webkit-transition: width 300ms;
  transition: width 300ms;
  font-size: 14px;
  position: fixed;
  top: 0;
  height: 120%;
  color: #cdcdcd;
  z-index: 11;
  overflow-x: hidden;
  width: 5rem;
}
.silo.work #navbar {
  position: fixed;
}

.nav-expand-button {
  cursor: pointer;
  margin: 2.0rem auto;
  max-width: 90%;
}
.nav-expand-button img {
  max-width: 100%;
}

.nav-silo-name {
  color: #9b9b9b;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -webkit-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -moz-transform: translate(-7.4rem, 7.4rem) rotate(-90deg);
  -ms-transform: translate(-7.4rem, 7.4rem) rotate(-90deg);
  -webkit-transform: translate(-7.4rem, 7.4rem) rotate(-90deg);
  transform: translate(-7.4rem, 7.4rem) rotate(-90deg);
  width: 20.0rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.2rem;
}

.nav-main {
  -moz-transition: left 300ms;
  -o-transition: left 300ms;
  -webkit-transition: left 300ms;
  transition: left 300ms;
  z-index: 0;
  position: absolute;
  top: 0;
  background: #363636;
  width: 18.2rem;
  left: -13.2rem;
  height: 100%;
  overflow-x: visible;
}

.navbar-expanded #navbar {
  width: 23.2rem;
}

.navbar-expanded .nav-main {
  left: 5rem;
  margin-left: 0;
}

.nav-links {
  font-weight: bold;
  margin: 10px auto;
}
.nav-links li {
  padding: 0;
}
.nav-links a {
  color: inherit;
  display: block;
  text-decoration: none;
  padding: 10px 3.0rem;
}
.nav-links a:hover {
  background: #5e5e5e;
}
.nav-links hr {
  margin: 10px 3.0rem;
  border-color: #fff200;
}

.fullheight {
  height: 100%;
}

.nav-container {
  margin: 0 3.0rem;
}

.nav-availability {
  margin-top: 15.0rem;
}

.nav-behance {
  margin: 650px 0 auto 30px;
}

.window-wrapper {

  width: 100%;
//  min-height: 100%;
//  overflow-x: hidden;
}

.page {
  display: inline;
}

.page-wrapper {
  -moz-transition: margin-left 300ms, opacity 300ms;
  -o-transition: margin-left 300ms, opacity 300ms;
  -webkit-transition: margin-left 300ms, opacity 300ms;
  transition: margin-left 300ms, opacity 300ms;
  opacity: 1;
  display: block;
  position: static;
  min-height: 100%;
  margin-left: 5rem;
  overflow-x: visible;
  background: #ffffff;
}

.page-container {
  width:90%;
  margin:0 auto;
}


.window-wrapper {
  background-color: #e9e9e9;
}

.silo.work,
.silo.home {
  background-color: #cdcdcd;
}

.navbar-expanded .page-wrapper {
  margin-left: 23.2rem;
}

.container {
  padding: 2rem 0 0 6rem;
}

.home-text {
  padding: 16.0rem 0 40.0rem;
}

.image-strip {
  white-space: nowrap;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.image-strip .plugin_picture {
  display: inline-block;
}
.image-strip.attach-top {
  top: 0;
  left: 0;
}
.image-strip.attach-bottom {
  top: inherit;
  bottom: 0;
}

.aside-content {
  width: 20rem;
  float: left;
  font-size: 1.2rem;
  color: #9b9b9b;
}
.aside-content strong {
  font-size: 1.0rem;
  color: #4c4c4c;
}

.main-content {
  min-width: 50.0rem;
  white-space: normal;
}
.main-content hr {
  border-bottom: 1px solid #213190;
  margin: 4rem 0;
  width: 25%;
  min-width: 18rem;
  max-width: 100%;
}
.main-content img {
  max-width: 100%;
}
.main-content p {
  font-family: Palatino;
  font-size: 1.8rem;
}

.aside-content + .main-content {
  margin-left: 20rem;
}

.bottom-content {
  display: block;
  margin-top: 10.0rem;
}

.page.default .image-strip img {
  height: 35rem;
  width: auto;
}
.page.default .image-strip + .container {
  margin-top: 2rem;
}

.x-silo-change {
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
}

.work-bunnies {
  position: relative;
}
.work-bunnies .bunny {
  pointer-events: none;
  opacity: 0.08;
  position: absolute;
  display: none;
}
.work-bunnies .bunny:nth-child(1) {
  display: block;
  top: 9rem;
  left: 76rem;
}
.work-bunnies .bunny:nth-child(2) {
  display: block;
  top: 85rem;
  left: 13rem;
}

.work-project-list {
  position: relative;
}

.work-foot {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #e9e9e9;
}
.work-foot .page-wrapper {
  min-height: none;
  text-align: center;
}
.work-foot .page-wrapper .container {
  margin: auto;
  text-align: left;
  width: 75%;
}

.work-project {
  background: #e9e9e9;
  display: block;
  width: 42rem;
}
.work-project img {
  width: 100%;
  height: auto;
}
.work-project .name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem auto;
}
.work-project .name a {
  color: black;
  text-decoration: none;
}
.work-project .text {
  padding: 2.5rem 4.0rem;
}
.work-project .roles {
  color: #9b9b9b;
  font-weight: bold;
}
.work-project .short-color-bar {
  width: 10rem;
  height: 3px;
  margin: 0;
  border: 0;
  text-align: left;
}
.work-project:nth-child(even) {
  margin-left: 42rem;
}

.aside-content .column {
  width: 100% !important;
  float: none !important;
  margin-bottom: 4.0rem;
}

.picture-caption {
  margin: 6.0rem auto;
}
.picture-caption .caption {
  color: #9b9b9b;
  margin: 0 auto 1rem;
}
.picture-caption .picture {
  margin-right: -6rem;
  position: relative;
  display: block;
}
.picture-caption img {
  max-width: 100%;
  width: 100%;
}
.work-bg-feral-1, .work-bg-feral-2 {
  position: absolute;
  left: 50%;
  margin-left: -328px;
  display: none;
}
.work-bg-feral-1 {
  margin-top: 183px;
}
.work-bg-feral-2 {
  margin-top: 1370px;
}

@media screen and (min-width: 1920px) {
    .page-wrapper:after {
        display: block;
        content: "";
        clear: both;
    }
    .nav-mark-left
    {
        display:none;
    }

    .nav-mark-top
    {
        display:block;
    }

    .nav-behance {
      margin: 650px 0 auto 30px;
    }

    .nav-gutter {
        background: #212121;
        width: 5rem;
        min-width: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        z-index: 1;
        overflow-x: hidden;
    }

    .first-50-subbody{
        width:50%;
        float:right;
        background: #ffffff;
    }
    .first-left-subbody{
      width:33%;
      float:left;
    }
    .second-left-subbody{
      width:67%;
      float:left;
    }

  .studio-info-1
  {
    width:25%;
    float:left;
    text-align:center;
  }

  .studio-info-2
  {
    width:25%;
    float:left;
    text-align:center;
    margin-left: 150px;
    margin-top: 200px;
  }

  .studio-info-3
  {
    width:25%;
    float:left;
    text-align:center;
    margin-left: 80px;
    margin-top: 400px;
  }

  .studio-info-4
  {
    width:25%;
    float:left;
    text-align:center;
    margin-top: -400px;
    margin-left:130px;
  }
  .first-div-border
  {
    border-left: 1px solid #ebebeb;
  }
  .second-left-right-padding
  {
    width:74%;
    padding-left: 16%;
  }

  .first-left-right-padding
  {
    width:62%;
    padding-left: 9%;
  }
  .blog-page-mark
  {
    width: 12%;
    margin-left: 0;
    display: block;
  }

  .blog-spyglass
  {
    width:9%;
    margin-left: 0;
    display: block;
  }

  .work-info-1
  {
    width:50%;
    float:left;
    text-align:center;
  }
  .work-info-2
  {
    width:50%;
    float:left;
    text-align:center;
    margin-top: 300px;
  }
  .work-info-3
  {
    width:50%;
    float:left;
    text-align:center;
  }
  .subbody-left-80
  {
    width:80%;
    margin-left: 0;
  }

  .subbody-right-66
  {
    float:right;
    width: 66%;
  }
}
@media screen and (max-width: 1919px) and (min-width: 1100px){
    .page-wrapper:after {
        display: block;
        content: "";
        clear: both;
    }
    .nav-mark-left
    {
        display:none;
    }

    .nav-mark-top
    {
        display:block;
    }

    .nav-behance {
      margin: 650px 0 auto 30px;
    }

    .nav-gutter {
        background: #212121;
        width: 5rem;
        min-width: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        z-index: 1;
        overflow-x: hidden;
    }

    .first-50-subbody{
        width:50%;
        float:right;
        background: #ffffff;
    }
    .first-left-subbody{
      width:33%;
      float:left;
    }
    .second-left-subbody{
      width:67%;
      float:left;
    }
  .studio-info-1
  {
    width:25%;
    float:left;
    text-align:center;
  }

  .studio-info-2
  {
    width:25%;
    float:left;
    text-align:center;
    margin-left: 100px;
    margin-top: 200px;
  }

  .studio-info-3
  {
    width:25%;
    float:left;
    text-align:center;
    margin-left: 40px;
    margin-top: 400px;
  }

  .studio-info-4
  {
    width:25%;
    float:left;
    text-align:center;
    margin-top: -400px;
    margin-left:90px;
  }
  .first-div-border
  {
    border-left: 1px solid #ebebeb;
  }
  .second-left-right-padding
  {
    width:74%;
    padding-left: 16%;
  }

  .first-left-right-padding
  {
    width:62%;
    padding-left: 9%;
  }
  .blog-page-mark
  {
    width: 12%;
    margin-left: 0;
    display: block;
  }

  .blog-spyglass
  {
    width:9%;
    margin-left: 0;
    display: block;
  }

  .work-info-1
  {
    width:50%;
    float:left;
    text-align:center;
    position: relative;
    z-index: 1;
    background: #ffffff;
  }
  .work-info-2
  {
    width:50%;
    float:left;
    text-align:center;
    margin-top: 300px;
    position: relative;
    z-index: 1;
    background: #ffffff;
  }
  .work-info-3 {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 1;
    background: #ffffff;
  }
  .work-bg-feral-1, .work-bg-feral-2 {
    display: block;
  }
  .subbody-left-80
  {
    width:80%;
    margin-left: 0;
  }

  .subbody-right-66
  {
    float:right;
    width: 66%;
  }
}
@media screen and (max-width: 1099px) and (min-width: 800px){
    .page-wrapper:after {
        display: block;
        content: "";
        clear: both;
    }
    .nav-mark-left
    {
        display:none;
    }

    .nav-mark-top
    {
        display:block;
    }

    .nav-behance {
      margin: 650px 0 auto 30px;
    }

    .nav-gutter {
        background: #212121;
        width: 5rem;
        min-width: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        z-index: 1;
        overflow-x: hidden;
    }

    .first-50-subbody{
        width:100%;
        float:right;
        background: #ffffff;
    }
    .first-subbody{
      width:100%;
      float:right;
    }

    .second-subbody{
      width:100%;
      float:right;
    }
    .first-left-subbody{
      width:100%;
      float:left;
    }
    .second-left-subbody{
      width:100%;
      float:left;
    }
  .studio-info-1
  {
    width:50%;
    float:left;
    text-align:center;
  }

  .studio-info-2
  {
    width:50%;
    float:left;
    text-align:center;
  }

  .studio-info-3
  {
    width:50%;
    float:left;
    text-align:center;
  }

  .studio-info-4
  {
    width:50%;
    float:left;
    text-align:center;
  }
  .second-div-border
  {
    border-top: 1px solid #363636;
  }
  .second-left-right-padding
  {
    width:86%;
    padding-left: 7%;
  }

  .first-left-right-padding
  {
    width:86%;
    padding-left: 7%;
  }

  .blog-page-mark
  {
    width: 12%;
    margin-left: 0;
    display: none;
  }

  .blog-spyglass
  {
    width:9%;
    margin-left: 0;
    display: none;
  }

  .work-info-1
  {
    width:100%;
    float:left;
    text-align:center;
  }
  .work-info-2
  {
    width:100%;
    float:left;
    text-align:center;
  }
  .work-info-3 {
    width: 100%;
    float: left;
    text-align: center;
  }
  .subbody-left-80
  {
    width:74%;
    margin:auto;
  }

  .subbody-right-66
  {
    width:74%;
    margin:auto;
  }
}

@media screen and (max-width: 799px){
  .logo {
    display: none;
  }
  .home-text {
    padding-top: 106px;
  }
  .home-description {
    padding-top: 65px;
  }

    .page-wrapper:after {
        display: block;
        content: "";
        clear: both;
    }

    #navbar {
        width: 100%;
        height: 5rem;
    }
    .nav-gutter {
        width: 100%;
        height: 5rem;
        min-height: 30px;
        text-align: left;
        background: #363636;
    }

    .nav-main{
        top:-1050px;
        left: 0;
        width: 100%;
        height: 20rem;
        background: #2c2c2c;
        z-index: 10;
    }

    .navbar-expanded .nav-main {
        position:static;
        margin-left: 0;
        height: auto;
    }
    .nav-links {
      margin-top: 0;
    }

    .nav-behance {
      margin: 30px 0 auto 28px;
    }

    .page-wrapper {
        margin-left: 0rem;
        margin-top: 5rem;
        left: 0;
    }

    .navbar-expanded .page-wrapper
    {
        margin-left: 0rem;
        margin-top: 5rem;
        left: 0;
    }

    .navbar-expanded #navbar {
        left: 0;
        width: 100%;
        height: auto;
    }

    .nav-expand-button {
        cursor: pointer;
        margin: 2rem 2rem;
        max-width: 90%;
        float: left;
    }

    .nav-mark-left
    {
        display:block;
    }

    .nav-mark-top
    {
        display:none;
    }

    .first-subbody{
        width:100%;
        float:right;
    }

    .second-subbody{
        width:100%;
        float:right;
    }

    .first-50-subbody{
        width:100%;
        float:right;
        background: #ffffff;
    }
    .first-left-subbody{
      width:100%;
      float:left;
    }
    .second-left-subbody{
      width:100%;
      float:left;
    }
  .studio-info-1
  {
    width:50%;
    float:left;
    text-align:center;
  }

  .studio-info-2
  {
    width:50%;
    float:left;
    text-align:center;
  }

  .studio-info-3
  {
    width:50%;
    float:left;
    text-align:center;
  }

  .studio-info-4
  {
    width:50%;
    float:left;
    text-align:center;
  }
  .second-div-border
  {
    border-top: 1px solid #363636;
  }
  .second-left-right-padding
  {
    width:86%;
    padding-left: 7%;
  }

  .first-left-right-padding
  {
    width:86%;
    padding-left: 7%;
  }
  .blog-page-mark
  {
    width: 12%;
    margin-left: 0;
    display: none;
  }

  .blog-spyglass
  {
    width:9%;
    margin-left: 0;
    display: none;
  }

  .work-info-1
  {
    width:100%;
    float:left;
    text-align:center;
  }
  .work-info-2
  {
    width:100%;
    float:left;
    text-align:center;
  }
  .work-info-3 {
    width: 100%;
    float: left;
    text-align: center;
  }
  .subbody-left-80
  {
    width:74%;
    margin:auto;
  }

  .subbody-right-66
  {
    width:74%;
    margin:auto;
  }
}

#cms_toolbar .cms_sideframe .cms_sideframe-btn {
  top: 150px;
}

#cms_toolbar .cms_clipboard {
  top: 230px;
}
