.button {
    border: 2px solid;
    display: inline-block;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    text-transform: uppercase;

    white-space: nowrap;
    user-select: none;
    @include transition(all .25s ease-in-out);

    padding: 0.35rem 0.75rem 0.20rem;
    font-size: 0.85rem;
    line-height: 0.85rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    background: transparent;
    color: darken($gold, 10%);
    border-color: $gold;

    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;
    }

    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }

    &--background {
        background: rgba($white, .30);
    }

    &--huge {
        padding: 1.5rem 1rem 1.25rem 1rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
        border: 3px solid;
    }
}