// Regular
@font-face {
    font-family: 'neutral-regular';
    src: url('../fonts/neutral/regular/NeutralStd-Regular.eot');
    src: url('../fonts/neutral/regular/NeutralStd-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutral/regular/NeutralStd-Regular.woff2') format('woff2'),
         url('../fonts/neutral/regular/NeutralStd-Regular.woff') format('woff'),
         url('../fonts/neutral/regular/NeutralStd-Regular.ttf') format('truetype'),
         url('../fonts/neutral/regular/NeutralStd-Regular.svg#neutral-regular') format('svg');
    font-weight: normal;
    font-style: $font-weight-regular;
}

// Regular Bold
font-face {
    font-family: 'neutral-regular';
    src: url('../fonts/neutral/bold/NeutralStd-Bold.eot');
    src: url('../fonts/neutral/bold/NeutralStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutral/bold/NeutralStd-Bold.woff2') format('woff2'),
         url('../fonts/neutral/bold/NeutralStd-Bold.woff') format('woff'),
         url('../fonts/neutral/bold/NeutralStd-Bold.ttf') format('truetype'),
         url('../fonts/neutral/dold/NeutralStd-Bold.svg#neutral-bold') format('svg');
    font-weight: normal;
    font-style: $font-weight-bold;
}

// Regular Italic
font-face {
    font-family: 'neutral-regular';
    src: url('../fonts/neutral/regular/NeutralStd-RegularItalic.eot');
    src: url('../fonts/neutral/regular/NeutralStd-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutral/regular/NeutralStd-RegularItalic.woff2') format('woff2'),
         url('../fonts/neutral/regular/NeutralStd-RegularItalic.woff') format('woff'),
         url('../fonts/neutral/regular/NeutralStd-RegularItalic.ttf') format('truetype'),
         url('../fonts/neutral/regular/NeutralStd-RegularItalic.svg#neutral-regular') format('svg');
    font-weight: italic;
    font-style: $font-weight-regular;
}