$hPadding: 14px;
$vPadding: 12px;

$gutterWidth: 50px;
$gutterMobileHeight: 17px;
$gutterBackground: $gray-dark;

$drawerWidth: 200px;
$drawerBackground: lighten($gray-dark, 5%);

// Header (Menu + Nav)
// Our page navigation sits on the LHS of the page on normal desktop resolutions
// and has a thin gutter that can be clicked to reveal a slide out drawer with
// the site navigation. This changes on mobile. We use a separate bar along
// the top to control the existing sidebar menu. When the bar along the top is
// clicked the existing menu slides out.
//
// We use CSS3 transitions to accomplish this (with a small bit of jquery to
// register the actual clicking of the menu drawer trigger)
.menu {
    @include transition(width $animationDuration);

    position: fixed;
    height: 100%;
    width: $gutterWidth;
    left: 0;
    top: 0;
    z-index: 10;

    font-size: 0.9rem;
    background-color: $drawerBackground;
}
    // Gutter
    // The slim menu menu that contains a trigger for the navigation
    .menu__gutter {
        @include transition(left $animationDuration);
        background-color: $gutterBackground;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: $gutterWidth;
        z-index: 100;
    }

        // Trigger
        // The small x3 vertical lines that triggers the drawer to slide out
        // from the lefthand side of the page in normal desktop view.
        .menu__trigger {
            @include transition(background-image 2s ease);
            background-image: url(../images/menu-expand.svg);
            background-repeat: no-repeat;
            background-position: center top;
            width: $gutterWidth - (2 * $hPadding);
            cursor: pointer;

            &:hover {
                background-image: url(../images/menu-expand--hover.svg);
            }

            &:active {
            }
        }

        .menu__gutter__trigger {
            margin: $vPadding $hPadding;
        }

        .menu__gutter__logo {
            display: none;
        }

    // Drawer
    // The secondary drawer that slides out from the left when the gutter is
    // clicked in normal desktop view. In the mobile view the nav loads on the
    // top of the page.
    .menu__drawer {
        @include transition(left $animationDuration);

        position: absolute;
        height: 100%;
        width: $drawerWidth;
        left: -($gutterWidth + $drawerWidth);
        top: 0;
        z-index: 50;
        overflow-x: visible;

        background-color: $drawerBackground;
        color: white;
    }

        .menu__nav {
            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    a {
                        display: block;
                        padding: $vPadding $hPadding;


                        font-size: .80rem;
                        line-height: 1rem;
                        color: $white;
                        text-decoration: none;
                    }

                    &:hover, &.active {
                        background-color: lighten($gray-dark, 15%);

                        a {
                            color: $white;
                        }
                    }
                }
            }
        }

        .menu__logo {
            opacity: 0;
            @include transition(opacity $animationDuration * 2);
            padding: 0 $hPadding;
            position: absolute;
            top: 50%;
            left: 0;

            a {
                display: block;
            }
        }

        .menu__footer {
            padding: 0 $hPadding;
            position: absolute;
            bottom: 0;
            left: 0;
        }

// Page Content
.page-wrapper {
    @include transition(margin-left $animationDuration);
    margin-left: $gutterWidth;
    position: relative;
}

// When the menu trigger is clicked
body.menu--expanded {
    .menu__trigger {
        background-image: url(../images/menu-expand--hover.svg);
    }

    .menu {
        width: ($gutterWidth + $drawerWidth);
    }

    .menu__drawer {
        left: $gutterWidth;
    }

    .page-wrapper {
        margin-left: ($gutterWidth + $drawerWidth);
    }

}

// Mobile-specific header/content layout
.menu__mobilegutter {
    @include transition(left $animationDuration);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: $gutterMobileHeight;

    width: 100%;
    padding: $vPadding 0;

    font-size: 0.9rem;
    background-color: $gutterBackground;
    z-index: 100;

    .menu__trigger {
        margin: 0 $hPadding;
        background-position: left 35%;
    }
}

@media screen and (max-width: $break-small) {
    // On mobile, instead of 'squishing' the page from the left when we
    // extend the menu, we shift it across instead. To do this we have
    // to change the page-wrapper appraoch to using left positioning as
    // opposed to margin-left
    body { overflow-x: hidden; }
    .page-wrapper {
        @include transition(left $animationDuration);
        position: relative;
        left: 0;
        margin-left: 0;
        margin-top: $gutterMobileHeight + (2 * $vPadding);
    }

    // Show the top mobile menu gutter bar
    .menu__mobilegutter {
        display: block;
    }

    // hide the normal sidebar menu
    .menu {
        width: 0;
    }

    // Hide the normal gutter
    .menu__gutter {
        left: -$gutterWidth;
    }

    body.menu--expanded {
        .menu {
            width: $drawerWidth;
        }

        .menu__drawer {
            left: 0;
        }

        .menu__mobilegutter {
            left: $drawerWidth;
        }

        .page-wrapper {
            margin-left: 0;
            left: $drawerWidth;
        }
    }
}
