$menuGutterWidth: 2.5rem;
$menuGutterBackground: $gray-dark;

$menuDrawerWidth: 12rem;
$menuDrawerBackground: lighten($gray-dark, 5%);

// Header (Menu + Nav)
// Our page navigation sits on the LHS of the page on normal desktop resolutions
// and has a thin gutter that can be clicked to reveal a slide out drawer with
// the site navigation. This entire unit switches to a dropdown menu along
// the top of the page at mobile resolutions
//
// We use CSS3 transitions to accomplish this (with a small bit of jquery to
// register the actual clicking of the menu drawer trigger)
.menu {
    @include transition(width $animationDuration);

    position: fixed;
    height: 100%;
    width: $menuGutterWidth;
    left: 0;
    top: 0;
    z-index: 10;

    font-size: 0.9rem;
    background-color: $menuDrawerBackground;
}
    // Gutter
    // The slim menu menu that contains a trigger for the navigation
    .menu__gutter {
        background-color: $menuGutterBackground;

        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: $menuGutterWidth * 0.5;
        z-index: 100;

        padding: $menuGutterWidth * 0.25;
    }

        // Gutter Trigger
        // The small x3 vertical lines that triggers the drawer to slide out
        // from the lefthand side of the page in normal desktop view.
        .menu__gutter__trigger {
            @include transition(background-image 2s ease);
            background-image: url(../images/menu-expand.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 24px;

            cursor: pointer;

            &:hover {
                background-image: url(../images/menu-expand--hover.svg);
            }

            &:active {
            }
        }

        .menu__gutter__logo {
            display: none;
        }

    // Drawer
    // The secondary drawer that slides out from the left when the gutter is
    // clicked in normal desktop view. In the mobile view the nav loads on the
    // top of the page.
    .menu__drawer {
        @include transition(left $animationDuration);

        position: absolute;
        height: 100%;
        width: $menuDrawerWidth;
        left: -($menuGutterWidth + $menuDrawerWidth);
        top: 0;
        z-index: 50;
        overflow-x: visible;

        background-color: $menuDrawerBackground;
        color: white;
    }

        .menu__nav {
            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    a {
                        display: block;
                        padding: .75rem 15%;
                        width: 70%;

                        font-size: .80rem;
                        line-height: 1rem;
                        color: $white;
                        text-decoration: none;
                    }

                    &:hover, &.active {
                        background-color: lighten($gray-dark, 15%);

                        a {
                            color: $white;
                        }
                    }
                }
            }
        }

        .menu__logo {
            padding: 0 10%;
            position: absolute;
            top: 50%;
            left: 0;

            a {
                display: block;
            }
        }

        .menu__footer {
            padding: .75rem 15%;
            position: absolute;
            bottom: 0;
            left: 0;
        }

.page-wrapper {
    @include transition(margin-left $animationDuration);
    margin-left: $menuGutterWidth;
    position: relative;
}

body.menu--expanded {
    .menu__gutter__trigger {
        background-image: url(../images/menu-expand--hover.svg);
    }
}

// Desktop-specific header/content layout
@media screen and (min-width: $break-small) {
    // When the menu trigger is clicked, we expand the nav ACROSS
    body.menu--expanded {
        .menu {
            width: ($menuGutterWidth + $menuDrawerWidth);
        }

        .menu__drawer {
            left: $menuGutterWidth;
        }

        .page-wrapper {
            margin-left: ($menuGutterWidth + $menuDrawerWidth);
        }
    }
}

// Mobile-specific header/content layout
@media screen and (max-width: $break-small) {
    .menu,
    .menu__gutter,
    .menu__nav,
    .menu__drawer,
    .menu__footer {
        width: 100%;
        height: auto;
    }

    .menu {
        @include transition(height $animationDuration);
        height: $menuGutterWidth;
    }

        .menu__gutter {
            height: $menuGutterWidth * 0.5;
        }

            .menu__gutter__trigger {
                position: static;
                float: left;
            }

            .menu__gutter__logo {
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -35px;
                margin-top: -2px;
            }

        .menu__drawer {
            @include transition(top $animationDuration);
            top: -500rem;
            left: 0;
            height: 100%;
            margin-top: $menuGutterWidth * 0.5;
        }

            .menu__nav ul li a,
            .menu__footer {
                width: 90%;
                padding: .75rem 5%;
            }

            .menu__logo {
                display: none;
            }

    .page-wrapper {
        margin: $menuGutterWidth 0 0 0;
    }

    // When the menu trigger is clicked, we expand the nav DOWN
    body.menu--expanded {
        .menu {
            height: 80%;
        }

        .menu__drawer {
            top: $menuGutterWidth;
        }

        .page-wrapper {

        }
    }
}
