@mixin vertical-align($p) {
    position: relative;
    top: $p;
    -webkit-transform: translateY(-$p);
    -ms-transform: translateY(-$p);
    transform: translateY(-$p);
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin list-reset($cls: "list__item"){
    margin: 0;
    padding: 0;
    overflow:hidden;

    .#{$cls} {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@mixin list-horizontal($cls: "list__item") {
    margin: 0;
    padding: 0;

    > .#{$cls} {
        margin: 0;
        padding: 0;

        display: inline-block;
        zoom: 1;
        *display: inline;

        &:last-child{
            margin-right:0px;
        }
    }
}