html {
    font-size: $ms-base;

    // Bump the text up when we get above 1300
    @media screen and (min-width: $break-large) {
        font-size: 1.1rem;
    }
}

body {
    color: $gray-medium;
    font-family: $regular-font-family;
    -webkit-font-smoothing: antialiased;
    font-weight: $font-weight-light;
    text-decoration: normal;
}

@mixin type-size($size, $line-height-factor: 1.2, $margin-factor: .75) {
    font-size: $size;
    line-height: $size * $line-height-factor;
    margin-bottom: $size * $margin-factor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: $font-weight-bold;
    margin-top: 0;

    &.regular {
        font-weight: $font-weight-regular;
    }
}

h1, .h1 {
    @include type-size(ms(6));
}

h2, .h2 {
    @include type-size(ms(4));
}

h3, .h3 {
    @include type-size(ms(3));
}

h4, .h4 {
    @include type-size(ms(2));
}

h5, .h5 {
    @include type-size(ms(1));
}

h6, .h6 {
    @include type-size(ms(1));
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 0;
    margin-bottom: 1.5rem ;

    a {
        text-decoration: underline;
    }
}

small,
.small {
    @include type-size(ms(-1));
}

big {

}

tt {

}

code {

}

samp {

}

del {

}

ins {

}

cite {

}

q {

}

ul, ol {
    @include type-size(ms(1), 1.5);
    margin-bottom: 3rem;

    li {
        margin-bottom: .75rem;
    }
}

@mixin a($color, $darken:15%) {
    @include transition(color .3s linear);
    color: $color;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        $_color: darken($color, $darken);
        color: $_color;
        text-decoration: underline;
    }

    &:active, &:focus {

    }
}

a {
    @include a($gold);
}

    a.silent {
        color: inherit;

        &:hover {
            color: inherit;
            border-color: inherit;
        }
    }

hr, .divider {

    height: 1px;
    background-color: $gray-dark;
    border: 0;

    &--orange {
        background-color: $orange;
    }

    &--short {
        width: 20%;
        margin-left:0;
        text-align:left;
    }
}

img, picture {

}

blockquote {

}

cite {

}