// Typography
$font-weight-light: 100;
$font-weight-regular: 300;
$font-weight-bold: 700;

$regular-font-family: 'neutral-regular', 'Helvetica Neue', 'Helvetica', 'Arial';

// Scale
$ms-base: 1rem;
$ms-ratio: $minor-third;

// Colors
$white: #fff;
$off-white: #e9e9e9;
$gray-dark: #212121;
$gray-medium: #353535;

$highlight: #cac239;
$gold: #c6a05d;
$orange: #d89300;

 // Gray Menu Gutter
//#2c2c2c // Gray Menu Drawer
//#353535 // gray body text and header color

//#c6a05d // Gold Logo
//#d89300 // GOld Menu Drawer Divider

//#cac239 // green/yellow drawer button, date on blog (highlight)
//#ff0000 // red pull quote divider

// Breaks
$break-large: 1920px;
$break-medium: 1100px;
$break-small: 800px;