.template--standard {
    background-color: $off-white;
    height: 100%;
}

    .template--standard__header {
        @include span(12 of 12 last);
    }

    .template--standard__body {
        @include container;
        padding-top: 4rem;
    }

        .template--standard__sidebar {
            @include span(2 of 12 no-gutters);
            @include prefix(1 of 12);
            @include suffix(1 of 12);
        }

        .template--standard__content {
            @include span(7.5 of 12 no-gutters last);
            @include suffix(.5 of 12);
        }